<footer class="site-footer">
    <p class="footer-text">
        <a href="https://beian.miit.gov.cn/" target="_blank" rel="noopener">渝ICP备2026000319号</a>
        <br />
        <a
            class="record-link"
            href="https://beian.mps.gov.cn/#/query/webSearch?code=50010102001439"
            rel="noreferrer"
            target="_blank"
        >
            <img class="record-icon" src="/storage/Beian.png" alt="公安备案" loading="lazy" />
            渝公网安备50010102001439号
        </a>
    </p>
</footer>
